/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --button-color: #1264df;
  --button-rover: #02265c;
}

/* Estilos do banner */
#banner {
  background-image: url('');
  background-size: cover;
  color: black;
  text-align: center;
  padding: 100px 0;
}

#banner h2 {
  font-size: 36px;
  margin: 0;
}

#banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--button-rover);
}

/* Estilos dos serviços */
#title-card h2 {
  display: flex;
 justify-content: center;
}

#servicos {
  background-color: #f4f4f4;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service {
  margin-top: 20px;
}

.service img {
  gap: 30px;
  max-width: 100%;
  border-radius: 8px;
 
}

/* Estilos do formulário de contato */
#contato {
  color: black;
  padding: 50px 0;
}

#contato h2, p{
  font-size: 12px;
  margin: 0;
  text-align: center;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
}

#contact-form label {
  display: block;
  margin-top: 10px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact-form button:hover {
  background-color: var(--button-rover);
}

/* Estilos do rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
